.d-flex{
    display: flex;
    margin-bottom: 50px;
}
.grey{
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: grey;
}

.orange{
    margin-left: 10px;

    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: orange;
}
.pink{
    margin-left: 10px;

    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: pink;
}
.green{
    margin-left: 10px;

    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: green;
}